/*!
 * Custome styles
 *
 */
.bg-custom-1 {
	/* background-color: #2A3764; */
	color: #47473C;
}

.bg-custom-2 {
	background-color: #E67817;
	color: #FFFFFF;
}

.rounded {
	border-radius: 5px;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}
.col-md-2, .col-md-8 {
	padding-left: 5px;
	padding-right: 5px;
}
.panel-default {
	border-color: #CCCCCC;
}
.panel-title {
	/* color: #0C2E75;
	text-shadow: 2px 3px 2px #E67817; */
	/* color: #223C95;
	text-shadow: 2px 3px 2px #E67817;
	font-weight: bold; */
	/* color: #fff;
	text-shadow: 2px 3px 2px #0C2E75; */
}
#home-header-title{
	font-family: Constantia;
	color: #27166B;
}
#home-header-subtitle{
	font-family: Brush Script MT;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #ffffff;
}
