<style type="text/css">
    body,
    html,
    .body {
        background: #f3f3f3 !important;
    }
</style>
<!-- move the above styles into your custom stylesheet -->

<spacer size="16"></spacer>

<container>

    <spacer size="16"></spacer>

    <row>
        <columns>
            <h1>Libro de reclamaciones - Colegio Privado Jes&uacute;s de Nazareth</h1>
            <h2>Su libro de reclamaci&oacute;n fue registrado correctamente. Su id de reclamo es: <strong>{{id}}</strong></h2>
            <p>Su reclamo o queja ser&aacute; notificado para que puedan contactarse con usted.</p>

            <spacer size="16"></spacer>

            <callout class="secondary">
                <row>
                    <columns large="6">
                        <p>
                            <strong>Nombres</strong><br />
                            {{nombres}}
                        </p>
                        <p>
                            <strong>Primer apeliido</strong><br />
                            {{primer_apellido}}
                        </p>
                        <p>
                            <strong>Segundo apellido</strong><br />
                            {{segundo_apellido}}
                        </p>
                    </columns>
                    <columns large="6">
                        <p>
                            <strong>Tipo de documento</strong><br />
                            {{tipo_documento}}<br />
                        </p>
                        <p>
                            <strong>N&uacute;mero de documento</strong><br />
                            {{numero_documento}}<br />
                        </p>
                        <p>
                            {{celular}}<br />
                            {{correo}}
                        </p>
                    </columns>
                </row>
            </callout>

            <h4>Tipo de reclamo</h4>
            <p>{{tipo_reclamo}}</p>

            <h4>Descripci&oacute;n del reclamo</h4>
            <p>{{descripcion}}</p>

        </columns>
    </row>
    <row>
        <columns>
            Puede descargar el comprobante del reclamo desde el siguiente
            <a href="{{url}}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"
                style="color:#06049b;">enlace</a>
        </columns>
    </row>
    <row>
        <columns large="2"><br/></columns>
    </row>
    <br/>
    <row class="footer text-center">
        <columns large="3">
            <img src="https://jnazareth.edu.pe/main/assets/img/escudo.png" width="100" height="100" alt="Escudo Jesus de Nazareth">
        </columns>
        <columns large="3">
            <p>
                Colegio Privado Jes&uacute;s de Nazareth<br />
                Tel.: 7198213
            </p>
        </columns>
        <columns large="3">
            <p>
                Jr. Crespo y Castillo 2648<br />
                Mirones Bajo, Lima
            </p>
        </columns>
    </row>
</container>