<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Libro de reclamaci&oacute;n - Colegio privado Jesús de Nazareth</title>
    <style>
        .row {
            margin-right: -15px;
            margin-left: -15px;
        }

        .col-xs-1,
        .col-sm-1,
        .col-md-1,
        .col-lg-1,
        .col-xs-2,
        .col-sm-2,
        .col-md-2,
        .col-lg-2,
        .col-xs-3,
        .col-sm-3,
        .col-md-3,
        .col-lg-3,
        .col-xs-4,
        .col-sm-4,
        .col-md-4,
        .col-lg-4,
        .col-xs-5,
        .col-sm-5,
        .col-md-5,
        .col-lg-5,
        .col-xs-6,
        .col-sm-6,
        .col-md-6,
        .col-lg-6,
        .col-xs-7,
        .col-sm-7,
        .col-md-7,
        .col-lg-7,
        .col-xs-8,
        .col-sm-8,
        .col-md-8,
        .col-lg-8,
        .col-xs-9,
        .col-sm-9,
        .col-md-9,
        .col-lg-9,
        .col-xs-10,
        .col-sm-10,
        .col-md-10,
        .col-lg-10,
        .col-xs-11,
        .col-sm-11,
        .col-md-11,
        .col-lg-11,
        .col-xs-12,
        .col-sm-12,
        .col-md-12,
        .col-lg-12 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-lg-12 {
            width: 100%;
        }

        .col-md-4 {
            width: 33%;
            float: left;
        }

        .text-center {
            text-align: center;
        }

        body {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }

        .footer {
            bottom: 5px;
            position: absolute; 
        }

        div.page_break {
            page-break-before: always;
        }
    </style>
</head>

<body>
    <h1>Libro de reclamaci&oacute;n - Colegio privado Jesús de Nazareth</h1>
    <h2>Su libro de reclamaci&oacute;n fue registrado. Su id de reclamo es: <strong>{{id}}</strong></h2>
    <p>Su reclamo o queja ser&aacute; notificado para que puedan contactarse con usted.</p>
    <h3>Detalle del reclamo</h3>

    <div class="row">
        <table width="100%">
            <caption>Datos personales</caption>
            <thead style="background-color: lightgray;">
                <tr>
                    <th scope="col">Nombres</th>
                    <th scope="col">Primer apeliido</th>
                    <th scope="col">Segundo apellido</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombres}}</td>
                    <td>{{primer_apellido}}</td>
                    <td>{{segundo_apellido}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table width="100%">
            <caption>Datos de contacto</caption>
            <thead style="background-color: lightgray;">
                <tr>
                    <th scope="col">Tipo de documento</th>
                    <th scope="col">N&uacute;mero de documento</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{tipo_documento}}</td>
                    <td>{{numero_documento}}</td>
                    <td>{{celular}}</td>
                    <td>{{correo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <div class="row">
        <table width="100%">
            <caption>Detalle del reclamo</caption>
            <thead style="background-color: lightgray;">
                <tr>
                    <th scope="col">Tipo de reclamo</th>
                    <th scope="col">Descripci&oacute;n del reclamo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{tipo_reclamo}}</td>
                    <td>{{descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div class="row footer text-center">
        <div class="col-md-4">
            <img src="{{img}}" width="100" height="100" alt="escudo" />
        </div>
        <div class="col-md-8">
            <p>
                Colegio Privado Jes&uacute;s de Nazareth<br />
                Tel.: 7198213
            </p>
        
            <p>
                Jr. Crespo y Castillo 2648<br />
                Mirones Bajo, Lima
            </p>
        </div>
    </div>
</body>

</html>